[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
psycopg2-binary = "*"
httpx = "*"
beautifulsoup4 = "*"
lxml = "*"

[dev-packages]
flake8 = "*"
flake8-import-order = "*"
flake8-builtins = "*"
flake8-quotes = "*"
flake8-bugbear = "*"
pep8-naming = "*"
flake8-warnings = "*"
dlint = "*"
flake8-commas = "*"
flake8-clean-block = "*"

[requires]
python_version = "3.10"
python_full_version = "3.10.6"
